<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-layout}">

<body>
<th:block layout:fragment="content">

    <h2>Welcome to Aero Travel website!</h2>
    <p>
        Welcome to a simpler way to travel! This is your one-stop shop for booking flights online. No more long calls or waiting in line.<br>
        Search for flights, compare options, and book your ticket in just a few clicks!

        Here's what you can do:<br>
        Search for flights based on your travel dates and destinations.<br>
        See flight details like departure and arrival times, airlines, and prices.<br>
        Book your flight securely with your preferred payment method.<br>
        Verify your booking details and manage your reservations easily.<br>

        Travelers on the go: Book flights quickly and conveniently from anywhere.<br>
        Busy professionals: Save time by skipping the hassle of traditional booking methods.<br>
        Frequent flyers: Manage your travel plans effortlessly in one place.<br>

    </p>
</th:block>
</body>
</html>